@import url('https://fonts.googleapis.com/css?family=Poppins:200, 400, 500, 600, 700, 800, 900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
}

section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: circle(70% at right -20%);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 150px;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation  li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}